.carousel-item img {
    width: 100%;      /* L'immagine riempie la larghezza del contenitore */
    height: 500px;    /* Altezza fissa */
    object-fit: cover; /* Adatta l'immagine al contenitore */
    object-position: 50% 30%;
  }

  .card {
    min-height: 400px; /* Altezza uniforme */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-img-top {
    height: 200px; /* Altezza fissa */
    /*object-fit: cover;  Adatta l'immagine tagliando l'eccesso */
    width: 100%; /* Assicura che occupi la larghezza del contenitore */
  }
  
  .custom-btn {
    background-color: rgb(255, 255, 255); /* Colore di sfondo */
    color: black;           /* Colore del testo */
    border-color: white;    /* Colore del bordo */
  }
  
  .custom-btn:hover {
    background-color: #333; /* Colore di sfondo al passaggio del mouse */
    color: #fff;            /* Colore del testo al passaggio del mouse */
  }
  
  .list-group-item:focus {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    box-shadow: none; /* Rimuove il contorno predefinito */
  }

  .list-group-item.active {
    background-color: black !important; /* Sfondo nero */
    color: white !important;           /* Testo bianco */
    border-color: black !important;    /* Bordo nero */
  }

  .accordion-button {
    --bs-accordion-active-bg: transparent; /* Sfondo trasparente */
    outline: none !important; /* Rimuove l'outline */
    box-shadow: none !important; /* Rimuove l'effetto azzurrino */
  }
  